---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/index/Hero.astro";

import '@/styles/globals.css'
---

<Layout>
	<Hero />
	<div>Hello</div>
	<div>Hello</div>
	<div>Hello</div>
	<div>Hello</div>
	<div>Hello</div>
	<div>Hello</div>
	<div>Hello</div>
	<div>Hello</div>

</Layout>
