---
import { Button } from "./ui/button";
import logo from "../assets/light_app_logo.svg";
import { RainbowButton } from "@/components/ui/rainbow-button";
---

<div class="flex w-full justify-between items-center px-8 py-4 border-b-2 h-16">
    <div class="logo">
        <img class="w-[36px]" src={logo.src} alt="logo"/>
    </div>
    <Button className="py-4 px-4">Get Started</Button>
</div>