<ul class="background absolute top-0 z-0 overflow-hidden">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<style>
    .background {
        width: 100vw;
        height: 100vh;
        z-index: -1;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background: #70cfff;
        overflow: hidden;
    }
    .background li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 26s linear infinite;
    }

    .background li:nth-child(0) {
        left: 14%;
        width: 299px;
        height: 299px;
        bottom: -299px;
        animation-delay: 1s;
    }
    .background li:nth-child(1) {
        left: 85%;
        width: 274px;
        height: 274px;
        bottom: -274px;
        animation-delay: 2s;
    }
    .background li:nth-child(2) {
        left: 28%;
        width: 240px;
        height: 240px;
        bottom: -240px;
        animation-delay: 1s;
    }
    .background li:nth-child(3) {
        left: 82%;
        width: 238px;
        height: 238px;
        bottom: -238px;
        animation-delay: 10s;
    }
    .background li:nth-child(4) {
        left: 41%;
        width: 340px;
        height: 340px;
        bottom: -340px;
        animation-delay: 6s;
    }
    .background li:nth-child(5) {
        left: 0%;
        width: 237px;
        height: 237px;
        bottom: -237px;
        animation-delay: 14s;
    }
    .background li:nth-child(6) {
        left: 26%;
        width: 252px;
        height: 252px;
        bottom: -252px;
        animation-delay: 16s;
    }
    .background li:nth-child(7) {
        left: 18%;
        width: 227px;
        height: 227px;
        bottom: -227px;
        animation-delay: 18s;
    }
    .background li:nth-child(8) {
        left: 48%;
        width: 259px;
        height: 259px;
        bottom: -259px;
        animation-delay: 15s;
    }
</style>