---
import background from '../../assets/bg-2.svg';
---

<div class="background absolute top-0 z-0 hidden md:block">
    <img src={background.src} alt="background" class="w-full h-full object-cover"/>
</div>

<style>
    .background {
        width: 100vw;
        height: 100vh;
        z-index: -1;
        overflow: hidden;
    }
</style>